# Binaries
**/bin/
**/bin-int/
!vendor/*

# Json profiling files
**.json

# FarLight files
**.log
**imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user