[submodule "FarLight/vendor/spdlog"]
	path = FarLight/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "FarLight/vendor/glm"]
	path = FarLight/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "FarLight/vendor/stb"]
	path = FarLight/vendor/stb
	url = ../../nothings/stb.git
	branch = master
[submodule "FarLight/vendor/entt"]
	path = FarLight/vendor/entt
	url = ../../skypjack/entt.git
	branch = master
[submodule "FarLight/vendor/glfw"]
	path = FarLight/vendor/glfw
	url = ../glfw.git
	branch = master
[submodule "FarLight/vendor/ImGui"]
	path = FarLight/vendor/ImGui
	url = ../imgui.git
	branch = docking
[submodule "FarLight/vendor/boost"]
	path = FarLight/vendor/boost
	url = ../boost.git
	branch = master
